<h1>Places</h1>

<% if User.find_by({ "id" => session["user_id"] }) != nil %>
  <form action="/places" method="post">
    <input type="text" name="description">
    <button>Add a new Place</button>
  </form>


<% else %>
  <p>You must first <%= link_to "login", login_path %> to see Places.</p>
<% end %>